node_modules
npm-debug.log
.git
.github
.vscode
.idea
.env
.gitignore
README.md
docker-compose*.yml
.DS_Store
storage/framework/cache/**
storage/framework/sessions/**
storage/framework/views/**
storage/logs/**
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/views/.gitignore
!storage/logs/.gitignore